extends layout

block content
  h1= title
  div(id="centering")
    div(id="number") #{value} / 100
    div(id="duckpicture")
        img(src= "#{picture}")
    div(id="response")
        !{responsetext}
  a(href="/") Go back
  form(name="graphform", action="/graph", method="post")
    input(type="hidden", value="#{url}", name="url")
    input(type="submit", id="getgraph", value="graph")
